# **Big Data Analytics [CN7031] CRWK 2021-22**
# **Group ID: 74 **

1.   Student 1: Rajkumar PALIWAL, u2193792
2.   Student 2: Vinaya KANDYANUM, u2165225
3.   Student 3: Shivani DYAPA, u2197219
4.   Student 4: Mahesh SARAI, u2194348

---


If you want to add comments on your group work, please write it here for us:


# **Initiate and Configure Spark**

---

In [1]:
########## ONLY in Colab ##########
!pip3 install pyspark
########## ONLY in Colab ##########

Requirement already satisfied: pyspark in c:\users\mahesh\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\users\mahesh\anaconda3\lib\site-packages (from pyspark) (0.10.9.2)


# **Load Data**

---

In [ ]:
########## ONLY in Colab ##########
# mount your Google Drive
#from google.colab import drive
#drive.mount('/content/drive')
########## ONLY in Colab ##########

In [ ]:
# Load Data from Colab:

########## ONLY in Colab ##########
#IDS_df = spark.read.option("header", "true").csv("/content/drive/MyDrive/IDS2018/*.csv")
########## ONLY in Colab ##########

In [6]:
# Load Data from Ubuntu VMware:

########## ONLY in Ubuntu Machine ##########
#IDS_df = spark.read.option("header", "true").csv("IDS2018/*.csv")
########## ONLY in Ubuntu Machine ##########

In [8]:
# Print DF to make sure it is working
IDS_df.show()

NameError: name 'IDS_df' is not defined

In [ ]:
# The total number of attacks per label
IDS_df.select('Label').groupBy('Label').count().orderBy('count', ascending=False).show()


# **Task 1: Spark SQL [30 marks]**

---

In [ ]:
# Rajkumar Paliwal, u2193792
# Query 1 [Briefly explain]:

In [ ]:
# Rajkumar Paliwal, u2193792
# Query 2 [Briefly explain]:

In [ ]:
# Vinaya KANDYANUM, u2165225
# Query 1 [Briefly explain]:

In [ ]:
# Vinaya KANDYANUM, u2165225
# Query 2 [Briefly explain]:

In [ ]:
# Shivani DYAPA, u2197219
# Query 1 [Briefly explain]:

In [ ]:
# Shivani DYAPA, u2197219
# Query 2 [Briefly explain]:

In [ ]:
# Mahesh SARAI, u2194348
# Query 1 [Briefly explain]:

In [ ]:
# Mahesh SARAI, u2194348
# Query 2 [Briefly explain]:


# **Task 2 - Part1: PySpark [45 marks]**

---

In [ ]:
# Rajkumar Paliwal, u2193792
# Analytical method 1:

In [ ]:
# Rajkumar Paliwal, u2193792
# Analytical method 2:

In [ ]:
# Rajkumar Paliwal, u2193792
# Analytical method 3:

In [ ]:
# Vinaya KANDYANUM, u2165225
# Analytical method 1:

In [ ]:
# Vinaya KANDYANUM, u2165225
# Analytical method 2:

In [ ]:
# Vinaya KANDYANUM, u2165225
# Analytical method 3:

In [ ]:
# Shivani DYAPA, u2197219
# Analytical method 1:

In [ ]:
# Shivani DYAPA, u2197219
# Analytical method 2:

In [ ]:
# Shivani DYAPA, u2197219
# Analytical method 3:

In [ ]:
# Mahesh SARAI, u2194348
# Analytical method 1:

In [ ]:
# Mahesh SARAI, u2194348
# Analytical method 2:

In [ ]:
# Mahesh SARAI, u2194348
# Analytical method 3:


# **Task 2 - Part2: PySpark [15 marks]**

---

In [ ]:
# Rajkumar Paliwal, u2193792
# Machine Learning Technique:
# What to achieve:

In [ ]:
# Vinaya KANDYANUM, u2165225
# Machine Learning Technique:
# What to achieve:

In [ ]:
# Shivani DYAPA, u2197219
# Machine Learning Technique:
# What to achieve:

In [ ]:
# Mahesh SARAI, u2194348
# Machine Learning Technique:
# What to achieve:

# **Convert ipynb to HTML for Turnitin submission [10 marks]**

---

In [ ]:
# install nbconvert
!pip3 install nbconvert


# convert ipynb to html
# file name: "Your_Group_ID_CN7031.ipynb
!jupyter nbconvert --to html Group_74_CN7031.ipynb